@{ ViewData["Title"] = "غير مصرح"; }

<div class="text-center mt-5">
    <h3>غير مصرح لك بالوصول إلى هذه الصفحة</h3>
    <a asp-controller="Home" asp-action="Index" class="btn btn-dark mt-3">العودة إلى الرئيسية</a>
</div>